@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.DigitalMesh {
  height: 100%;
  background-color: #f3f4f8;
}

.map-and-cards {
  display: flex;
  flex-direction: row;
}
.map-container {
  display: grid;
  margin: auto;
}

.leaflet-container {
  height: 90vh;
  width: 65vw;
}

.fleet-card {
  margin-left: 10px;
  width: 33vw;
  padding: 0px;
  max-height: 45rem;
  overflow-y: scroll;
}

.fleet-title-styling {
  display: flex;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 1rem;
  margin-bottom: 0px;
  margin-top: 0px;
  /* border-bottom:#7476813a solid 1px ; */
}

.car-card {
  border-radius: 0;
  /* box-shadow:#7476813a 0px 1px 0px; */
}

.customer-details {
  padding-top: 1rem;
}

.map-card {
  padding: 0px;
}

.card-container {
  display: flex;
  margin: 10px 0px;
  margin-left: 10px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 5px;
  border-bottom-color: #ffd50d;
  background-color: #ffffff;
}
.logo {
  width: 6rem;
  padding-left: 20px;
  padding-top: 5px;
}

.submit-card {
  padding: 10px;
}

.menu-items {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

.location-details {
  display: flex;
  padding-top: 10px;
}

.rentalmatics-location{
  max-width: 175px;
  margin-right: 3rem;
}

.oem-location{
  max-width: 175px;
}
.collapse-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 29vw;
}

.icon-collapse-card {
  padding-right: 1rem;
}

.bp3-card .bp3-minimal :hover {
  background-color: white;
}

.collapse-card-button {
  padding: 0;
}

.card-title-vin {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selected-car-marker {
  background-color: #ffd50d;
  color: #ffd50d;
}

.checkbox-select {
  display: flex;
  align-items: center;
}

.leaflet-marker-icon .leaflet-zoom-animated .leaflet-interactive {
  margin-top: -41px;
  margin-left: -12px;
}

.custom-marker-move{
  margin-top: -41px;
  margin-left: -12px;
  width: 10px; 
  height: 10px;
}